[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.51.0"
streamlit-folium = "==0.25.3"
shapely = "==2.1.2"
matplotlib = "==3.10.7"
plotly = "==6.5.0"
sqlalchemy = "*"
pyyaml = "*"
werkzeug = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
